* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #f1efef;
}

.container {
	height: 100vh;
	margin: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}

form {
	width: 30%;
	/* border: 1px solid #000; */
}

form h1 {
	width: 80%;
	padding-bottom: 4px;
	margin-bottom: 2px;
	color: #5a5a5ade;
	border-bottom: 4px solid #037b19;
}

form p {
	font-size: small;
	/* font-weight: bold; */
	color: #737373;
	margin-bottom: 20px;
}

.inp-field {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
}

input[type='text'], [type='password']  {
	width: 100%;
	padding: 5px;
	margin-top: 4px;
	border: 1px solid #bfbfbfd6;
}

button {
	height: 35px;
	border-radius: 5px;
	border: none;
	background: #1679e3;
	font-weight: bold;
	font-size: medium;
	color: white;
}

button:hover {
	cursor: pointer;
}