@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #f1efef;
}

body {
	padding: 60px 20%;
}

.container {
	height: 80vh;
	border: 20px solid #8c8c8c2e;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.container h1 {
	width: 40%;
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
	text-align: center;
	background: none;
}

.input-area {
	width: 80%;
	height: auto;
	margin: 10px 0px;
	padding: 10px;
	background: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 40px 40px 40px;
	grid-template-areas: "inp-1 inp-2" "inp-3 inp-4" "inp-5 inp-6"
		"btn-1 btn-1";
	gap: 20px;
	row-gap: 30px;
}

#inp-1 {
	grid-area: inp-1;
}

#inp-2 {
	grid-area: inp-2;
}

#inp-3 {
	grid-area: inp-3;
}

#inp-4 {
	grid-area: inp-4;
}

#inp-5 {
	grid-area: inp-5;
}

#inp-6 {
	grid-area: inp-6;
}

#btn-1 {
	grid-area: btn-1;
	padding: 5px;
	font-size: medium;
	font-weight: 700;
	border: 3px solid #014f6ebc;
	border-radius: 2px;
	background-color: #aae1f7bc;
}

#btn-1:hover {
	cursor: pointer;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"]
	{
	background: white;
	border: 1px solid #a6b1b2f2;
	padding: 5px;
	font-size: medium;
}